{% extends 'layout.html' %}
{% block data %}
<audio src="/static/sound/check_in.mp3" id="sound-ok" hidden></audio>
<audio src="/static/sound/require_interaction.mp3" id="sound-unregistered" hidden></audio>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    <h5>
                        <a href="/admin" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></a>&nbsp;&nbsp;
                        Group Safety Training
                    </h5>
                </div>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    Adding trainings as {{ g.admin.name }}.
                    <a href="/admin" class="btn btn-success btn-xs pull-right">Done</a>
                </div>
                <form>
                    <select id="training_sel" class="form-control">
                        <option value="-1">All Required</option>
                        {% for machine in machines %}
                            <option value="{{ machine.id }}">{{ machine.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="panel-footer">
                <strong id="status"></strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    let trained = [];

    function updateTrained() {
        let status = $('#status');
        if (trained.length === 0) {
            if (socket.connected) {
                status.html('Ready');
            } else {
                status.html('Please wait...');
            }
        } else {
            status.html('');
            trained.forEach((value, index) => {
                status.append(value);
                if (index !== trained.length - 1) {
                    status.append(', ')
                }
            });
        }
    }

    socket.on('connect', function () {
        updateTrained();
    });

    socket.on('scan', function (data) {
        console.log(JSON.stringify(data));
        if (data.hwid === {{ session['hardware_id'] | tojson }}) {
            if (typeof(data.sid) !== "undefined" && data.sid !== null)
                $.post('/admin/training/add', {
                    'student_id': data.sid,
                    'machine': parseInt($('#training_sel').val())
                }, function(resp) {
                    document.getElementById('sound-ok').play();
                    trained.push(data.name);
                    updateTrained();
                });
            else {
                window.alert("Student not registered!");

                document.getElementById('sound-unregistered').play();
                $('#status').html('This student is not registered!');
            }
        }
    });

    $(function() {
        $('#training_sel').change(function() {
            trained = [];
            updateTrained();
        });
    });
    </script>
{% endblock %}