{% extends 'layout.html' %}
{% block data %}
<div class="container">
    <h1>Hi, {{ g.admin.name }}</h1>
    <a href="/admin/training/group_add" class="btn btn-lg btn-default btn-block">Quick add safety training</a>
    <a href="/admin/lookup" class="btn btn-lg btn-default btn-block">View/modify user</a>
    <hr />
    {% if g.admin.type.level >= 90 %}
        <a href="/admin/locations" class="btn btn-lg btn-default btn-block">Manage locations</a>
    {% endif %}
    {% if g.location.announcer %}
        <a href="/admin/announcer" class="btn btn-lg btn-default btn-block">Make announcements</a>
    {% endif %}
    <a href="/admin/clear_lab" class="btn btn-lg btn-danger btn-block">Clear lab</a>
    <hr />
    <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#deauthModal">
        Deauthorize this kiosk
    </button>
    <hr />
    <a href="/admin/change_pin" class="btn btn-lg btn-default btn-block">Change PIN</a>
    <a href="/admin/logout" class="btn btn-lg btn-danger btn-block">Sign out</a>
</div>

<div class="modal fade" id="deauthModal" tabindex="-1" role="dialog" aria-labelledby="deauthModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="deauthModalLabel">Are you sure?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to deauthorize this kiosk?
            </div>
            <div class="modal-footer">
                <a href="/deauth">
                    <button type="button" class="btn btn-danger">Yes</button>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}