{% extends 'layout.html' %}
{% block data %}
<div class="container">
    <h1>Hi, {{ g.admin.name }}</h1>
    <a href="/admin/training/group_add" class="btn btn-lg btn-default btn-block">Quick add safety training</a>
    <a href="/admin/lookup" class="btn btn-lg btn-default btn-block">View/modify user</a>
    <hr />
    {% if g.admin.type.level >= 90 %}
        <a href="/admin/locations" class="btn btn-lg btn-default btn-block">Manage locations</a>
    {% endif %}
    {% if g.location.announcer %}
        <a href="/admin/announcer" class="btn btn-lg btn-default btn-block">Make announcements</a>
    {% endif %}
    <a href="/admin/clear_lab" class="btn btn-lg btn-danger btn-block">Clear lab</a>
    <hr />
    <a href="/admin/change_pin" class="btn btn-lg btn-default btn-block">Change PIN</a>
    <a href="/admin/logout" class="btn btn-lg btn-danger btn-block">Sign out</a>
</div>
{% endblock %}