{% extends "layout.html" %}
{% block data %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/admin/locations" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{ location.name }} <small>ID {{ location.id }}</small></h1>
            </li>
            <li class="list-group-item">
                <h3>Machines</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for machine in machines %}
                            <tr>
                                <td><strong>{{ machine.id }}</strong></td>
                                <td>{{ machine.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h3>Staff</h3>
                <table class="table">
                    <tbody>
                    {% for user in staff %}
                        <tr>
                        <td>A{{ user.sid }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <div class="label label-info" style="display: inline-block; width: 3em;">{{ user.type.level }}</div>
                            {{ user.type.name }}
                        </td>
                        <td>
                            <a href="/admin/lookup?sid={{ user.sid }}&location={{ location.id }}" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h3>Kiosks</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>HWID</th>
                            <th>Last seen</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for kiosk in kiosks %}
                        <tr>
                        <td>{{ kiosk.hardware_id }}</td>
                        <td>{{ kiosk.last_seen }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>

{% endblock %}