{% extends "layout.html" %}
{% block data %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/admin" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a href="/admin/locations/add" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="list-group">
            {% for location in locations %}
            <a class="list-group-item
                      {{ "active" if location == g.location else "" }}"
                      href="/admin/locations/{{ location.id }}">
                {{ location.name }}
                <i class="pull-right glyphicon glyphicon-chevron-right"></i>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}