{% extends "layout.html" %}
{% block data %}
<div class="jumbotron text-center" style="margin:auto">
    {% if error %}
        <div class="alert alert-danger text-center">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}
    <h1>Please tap your card to sign in.</h1><br />
    <div class="form-group">
        <a href="/"><button class="btn btn-default btn-block btn-lg">Cancel</button></a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function() {
    localStorage.debug = '*';

    socket.on('scan', function (data) {
        if (data.hwid === {{ session['hardware_id'] | tojson }})
            window.location.assign("/admin/login?sid=" + data.sid + "&cardnum=" + data.card);
    });
});
</script>
{% endblock %}