{% extends "layout.html" %}
{% block data %}
<div class="jumbotron text-center" style="margin:auto">
    {% if error %}
        <div class="alert alert-danger text-center">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}
	<h1>Please tap your card or type your ID to sign in.</h1><br />
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-inline" method="post" target="/admin/login">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group">
							<div class="input-group-addon">A</div>
							<input class="form-control keyboard" type="tel"
							       placeholder="Student ID" id="sid" name="sid"
							       autocomplete="off"/>
						</div>
						<div class="input-group">
							<button class="btn btn-success" type="submit">Go</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
    <div class="form-group">
        <a href="/"><button class="btn btn-default btn-block btn-lg">Cancel</button></a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function() {
    localStorage.debug = '*';

    socket.on('scan', function (data) {
        if (data.hwid === {{ session['hardware_id'] | tojson }})
            navigatePOST("/admin/login?sid=" + data.sid + "&cardnum=" + data.card);
    });

	$("#sid").keyboard();
});
</script>
{% endblock %}