{% extends "layout.html" %}
{% block data %}
    <div class="container">
        {% if error %}
        <div class="row">
            <div class="alert alert-danger text-center">
                <strong>{{ error }}</strong>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form role="form" class="form-inline" action="/admin/lookup" method="get">
                        <div class="form-group">
                            <div class="input-group">
                                <a href="/admin" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
                            </div>
	                        <div class="input-group">
                                <a href="/admin/lookup" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <div class="input-group" style="width: 25%;">
                                <div class="input-group-addon">A</div>
                                <input class="form-control keyboard" type="tel"
                                       placeholder="Student ID" id="sid" name="sid"
                                       value="{{ request.args.get('sid') | default('', true) }}" />
                            </div>
                            <div class="input-group" style="width: 25%;">
                                <input class="form-control keyboard" type="text"
                                       placeholder="Name" id="name" name="name"
                                       value="{{ request.args.get('name') | default('', true) }}" />
                            </div>
                            <div class="input-group" style="width: 25%;">
                                <input class="form-control keyboard" type="tel"
                                       placeholder="Card Number" id="card" name="card"
                                       value="{{ request.args.get('card') | default('', true) }}" />
                            </div>
                            <div class="input-group">
                                <input class="btn btn-success" type="submit" value="Go" />
                                or tap an ID
                            </div>
                        </div>
                    </form>
                </div>
                {% if results and results | length > 1 %}
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Position</td>
	                            <td>Warnings</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for (u, warnings) in results %}
                                <tr>
                                    <td><a href="/admin/lookup?sid={{ u.sid }}" class="btn btn-xs btn-primary">A{{ u.sid }}</a></td>
                                    <td>{{ u.name }}</td>
                                    <td>{{ u.type.name }}</td>
                                    <td>
                                        {% if warnings > 0 %}
                                            <a class="btn btn-danger btn-xs" href="/admin/warnings/{{ u.sid }}">
                                                <i class="glyphicon glyphicon-exclamation-sign"></i>
                                                <strong>{{ warnings }}</strong>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% elif results and results | length == 1 %}
                <div class="panel-body">
                    {% if results[0][0].photo %}
     				    <img src="{{ results[0][0].photo }}" height="75" width="75" class="img-circle pull-right" />
					{% else %}
						<img src="/static/images/placeholder.png" height="75" width="75" class="img-circle pull-right" />
                    {% endif %}
                    <h1>
                        {{ results[0][0].name }} <small>{{ results[0][0].type.name }}</small>
                    </h1>
                    <hr />
                    {% if results[0][0].waiverSigned %}
                        <div class="alert alert-success">
                            Accepted user agreement on {{ results[0][0].waiverSigned }}.
                            <a href="/admin/clear_waiver?sid={{ results[0][0].sid }}">
                                <button class="btn btn-xs btn-success pull-right">
                                    Require another signature
                                </button>
                            </a>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            Has not yet accepted user agreement.
                        </div>
                    {% endif %}
                    {% if results[0][0].warnings | length > 0 %}
                        <div class="alert alert-warning">
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                            This user has been warned {{ results[0][0].warnings | length }} time{{ 's' if results[0][0].warnings | length != 1 }}.
                            <a href="/admin/warnings/{{ results[0][0].sid }}" class="btn btn-warning btn-xs pull-right">
                                Manage warnings
                            </a>
                        </div>
                    {% endif %}

                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Safety Training</th>
                                    <th>Trained by</th>
                                    <th>On date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for t in results[0][0].user.trainings %}
			    	            {% if t.machine.location_id == g.location.id %}
	                                <tr {% if t.invalidation_date %} class="danger" {% endif %}>
	                                    <td {% if t.invalidation_date %} rowspan="2" {% endif %}>{{ t.machine.name }}</td>
	                                    <td>{{ t.trainer.name }}</td>
	                                    <td>{{ t.date }}</td>
	                                    <td>
	                                        <a href="/admin/training/remove?sid={{ results[0][0].sid }}&id={{ t.id }}" class="btn btn-danger btn-xs">
	                                            <i class="glyphicon glyphicon-remove"></i>
	                                        </a>
	                                    </td>
	                                </tr>
						            {% if t.invalidation_date %}
							            <tr class="danger">
							                <td colspan="3"><strong>Invalidated as of {{ t.invalidation_date }}</strong></td>
							            </tr>
						            {% endif %}
					            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
					<div class="panel-body">
						<button class="btn btn-primary" data-toggle="modal" data-target="#stModal">Add safety training</button>
						<div class="pull-right">
							{% if g.admin.type.level >= 75 %}
								<!--<a href="javascript:void(0);" class="btn btn-danger">Delete user</a> --><!-- TODO: delete user flow -->
								<a href="/admin/warnings/{{ results[0][0].sid }}" class="btn btn-primary">Warn / Ban</a>
								{% if types %}
									<div class="btn-group">
										<a href="javascript:void(0);" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
											Set rank <span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											{% for type in types %}
												<li><a href="/admin/type/set?sid={{ results[0][0].sid }}&tid={{ type.id }}">{{ type.name }} ({{ type.level }})</a></li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
                    <div class="list-group-item">
                        <h3>Last 10 visits</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Time in</th>
                                <th>Time out</th>
                                <th>Duration</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in access_log %}
                            <tr>
                                <td>{{ a.timeIn }}</td>
                                <td>
                                    {% if a.timeOut %}
                                        {{ a.timeOut }}
                                    {% else %}
                                        <span class="label label-success">In lab</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not a.timeOut %}
	                                    <div class="pull-right">
	                                        <form action="{{ url_for('.checkout', aid=a.id, next=request.url) }}" method="post">
		                                        <button type="submit" class="btn btn-default btn-xs">Check out</button>
		                                        <button type="submit" class="btn btn-default btn-xs" name="warn" value="true">Check out and Warn</button>
	                                        </form>
	                                    </div>
                                    {% endif %}
                                    {{ ((a.timeOut if a.timeOut else now) - a.timeIn) }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="stModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/admin/training/add" method="post">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Add safety training</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="admin_id" value="{{ g.admin.sid }}" />
                                    <input type="hidden" name="student_id" value="{{ results[0][0].sid }}" />
                                    <select class="form-control" name="machine">
                                        {% for m in machines %}
                                            <option value="{{ m.id }}">{{ m.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% else %}
                    <div class="panel-body">
                        <div class="alert alert-danger text-center">
                            <strong>No results found.</strong> Please try different search criteria.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(function() {
        localStorage.debug = '*';

        $("#sid").keyboard();
        $("#card").keyboard();
        $("#name").keyboard();

        socket.on('scan', function (data) {
            if (data.hwid === {{ session['hardware_id'] | tojson }})
                window.location.assign("/admin/lookup?sid=" + data.sid + "&card=" + data.card + "&name=" + data.name);
        });
    });
    </script>
{% endblock %}
