{% extends "layout.html" %}
{% block data %}
<div class="container">
	{% if error %}
		<div class="row">
			<div class="alert alert-danger text-center">
				<strong>{{ error }}</strong>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/admin/lookup?sid={{ warnee.sid }}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></a>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h3>Warn {{ warnee.name }}</h3>
					<form class="form-horizontal" action="/admin/warnings/{{ warnee.sid }}" method="post">
						<div class="form-group">
							<label for="category" class="control-label col-sm-1">Reason</label>
							<div class="col-sm-11">
								<select name="category" id="category" class="form-control" onchange="updateCommentOptionality()">
									<option value=""{% if category != "Other" %} selected{% endif %} disabled hidden>Please select a category</option>
									<option value="Disorderly conduct">Disorderly Conduct</option>
									<option value="Brought prohibited items">Brought Prohibited Items</option>
									<option value="Safety glasses violation">Safety Glasses Violation</option>
									<option value="Improper tool use">Improper Tool Use</option>
									<option value="Food or drink in lab">Food or Drink in Lab</option>
									<option value="User agreement violation">User Agreement Violation</option>
									<option value="Blocking path of egress">Blocking Path of Egress</option>
									<option value="Damaging equipment/supplies">Damaging Equipment/Supplies</option>
									<option value="Littering">Littering</option>
									<option value="Improper attire">Improper Attire</option>
									<option value="Other"{% if category == "Other" %} selected{% endif %}>Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="reason" id="commentsLabel" class="control-label col-sm-1">Comments (optional)</label>
							<div class="col-sm-11">
								<textarea name="reason" class="form-control" id="reasonInput" rows="3" placeholder="Other Comments">{{ reason if reason }}</textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-11">
								<input type="submit" name="warn" class="btn btn-warning" value="Warn" />
								<input type="submit" name="ban" class="btn btn-danger" value="Ban"{% if not canBan %} disabled{% endif %}/>
							</div>
						</div>
					</form>
				</li>
				<li class="list-group-item">
				    <h3>{{ warnee.name }}'s previous warnings ({{ warnings|length }})</h3>
					<table class="table">
						<thead>
						<tr>
							<th>Warner</th>
							<th>Time</th>
							<th>Reason</th>
						</tr>
						</thead>
						<tbody>
						{% for warning in warnings %}
							<tr style="{{ "background-color: #fcc" if warning.banned }}">
								<td>{{ warning.warner.name }}</td>
								<td>{{ warning.time }}</td>
								<td>{{ warning.category if warning.category != "Other" }}{{ ": " if warning.category != "Other" and warning.reason }}{{ warning.reason if warning.reason }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</li>
				{% for warning in locations %}
				<li class="list-group-item {{ "active" if location == g.location else "" }}">
					{{ location.name }}
					<a href="/admin/locations/{{ location.id }}" class="btn btn-default btn-xs pull-right">
						<i class="glyphicon glyphicon-chevron-right"></i>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		$(function () {
			$("#reasonInput").keyboard();
		});

		function updateCommentOptionality() {
			var reason = document.getElementById("category");
			var reasonLabel = document.getElementById("commentsLabel");
			reasonLabel.innerText = "Comments " + (reason.value === "Other" ? "(required)" : "(optional)");
		}

		updateCommentOptionality();
	</script>
{% endblock %}