#sidebar {
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    align-items: flex-start;

    padding-top: 20px;
    padding-bottom: 20px;
}

#content > * {
    margin: auto;
}

#page {
    position: absolute;
    overflow: hidden;
    top: 50px;
    bottom: 0px;
    width: 100vw;
}

html, body {
    height: 100vh;
}

.navbar {
    margin-bottom: 0;
}

.modal {
    text-align: center
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    horizontal-align: middle;
    text-align: left;
}

.navbar-disconnected {
    background: red;
    color: darkred;
}

@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink {
	text-decoration: blink;
	animation-name: blinker;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.link-cursor {
    cursor: pointer;
}

@media (min-width: 1281px) {
    .login-panel {
        width: 30vw;
    }
}

@media (max-width: 1281px) {
    .login-panel {
        width: 80vw;
    }
}