{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" id="page" style="padding:0;">
    <div id="content">
        <div class="panel panel-default auth-panel" style="">
            <div class="panel-heading">
                v{{ g.version }} - Authorization
            </div>
            <form action="/auth" method="post">
                <div class="panel-body">
                    {% if error %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location" id="location" class="form-control">
                            {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hwid">Hardware ID</label>
                        <input type="tel" class="form-control keyboard" id="hwid" name="hwid"/>
                    </div>
                    <div class="form-group">
                        <label for="secret">Secret</label>
                        <input type="password" class="form-control keyboard" id="secret" name="secret"/>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Authorize kiosk" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function() {
        $("#hwid").keyboard();
        $("#secret").keyboard();
    });



</script>
{% endblock %}