{% extends "layout.html" %}
{% block data %}

<div class="jumbotron text-center" style="margin:auto">
    <h1>Tap ID to check in/out</h1>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    localStorage.debug = 'engine.io-client:socket';

    socket.on('go', function (data) {
        if (data.hwid === {{ session['hardware_id'] | tojson }}) {
            window.location.href = data.to;
        }
    });
    socket.on('scan', function (data) {
        if (data.hwid === {{ session['hardware_id'] | tojson }}) {
            //data.token = {{ session['token'] | tojson }};
            data.location = {{ session['location_id'] | tojson }};
            socket.emit('check in', data)
        }
    });
</script>

{% endblock %}