{% extends "layout.html" %}
{% block data %}

<div class="jumbotron text-center" style="margin:auto">
  <h1>Tap ID to check in</h1>
  <!--
  <br />
  <a class="btn btn-primary btn-lg" href="{{ url_for('doesExist') }}" style="margin-top: 50px">Forgot your ID?</a>
  -->
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$(function() {
    localStorage.debug = '*';

    var socket = io();
    socket.connect();
    socket.on('go', function (data) {
        window.location.href = data.to;
    });
});
</script>

{% endblock %}