{% extends "bootstrap/base.html" %}
{% block title %}Lab Check In{% endblock %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="/static/css/app.css"/>
    <link rel="stylesheet" href="/static/css/jqbtk.min.css"/>
{% endblock styles %}

{% block scripts %}
    {{ super() }}

    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/jqbtk.min.js"></script>
    <script src="/static/js/checkin.js"></script>
{% endblock scripts %}

{% block navbar %}

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size:2em" href="/">{{ g.location.name if g.location else '' }} Check
                    In</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text" id="disconnect-alert" style="display: none;">
                        <i class="glyphicon glyphicon-alert blink" style="color: darkred;"></i>
                        Client disconnected
                    </li>
                    <li><a href="/admin/login">Admin Tools</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

{% endblock %}
{% block content %}
    <div class="container-fluid" id="page" style="padding:0">
        <div class="col-sm-8" id="content">
            {% block data %}{% endblock %}
        </div>
        <div class="col-sm-4" id="sidebar">
            <div>
                <h3 class="text-center">Who's Here</h3>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        Staff
                    </div>
                    <table class="table table-bordered">
                    <tbody>
                        {% for staffRow in g.staff | batch(2) %}
                            <tr>
                                {% for staffMember in staffRow %}
                                    <td style="padding: 8px 16px;" {% if g.staff | length > 1 %} class="col-lg-6" {% endif %}>
                                        <div class="pull-right">
                                            {% if staffMember.photo %}
                                                <img src="{{ staffMember.photo }}" style="max-height: 75px;"
                                                     class="img-circle"/>
                                            {% else %}
                                                <img src="/static/images/placeholder.png" style="max-height: 75px;"
                                                     class="img-circle"/>
                                            {% endif %}
                                        </div>
                                        <h4>
                                            {{ staffMember.name }}<br>
                                            <small>{{ staffMember.type.name }}</small>
                                        </h4>
                                    </td>
                                {% endfor %}

                                {% if g.staff | length > 2 and staffRow | length == 1 %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Students
                </div>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    {% for student in g.students %}
                    <tr {% if not student.general_training %} class="danger" {% endif %}>
                            <td style="vertical-align:middle">
                                <span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>
                                {{ student.name }}
                            </td>
                            <td>
                                <form action="{{ url_for('.checkout', sid=student.sid) }}" method="post">
                                    <button type="submit" class="btn btn-danger">Checkout</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
