{% extends "layout.html" %}
{% block data %}
<div class="col-md-6" style="margin:auto">
{% if error %}<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
{% if success %}<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p class=error><strong>Success:</strong> Account {{ success }} was created.</div>{% endif %}
	<div class="panel panel-primary">
	<div class="panel-heading" style="text-align:center">New Kiosk Login</div>
	<div class="panel-body">
		<form action="{{ url_for('newLogin') }}" method=post>
			<dl>
				<dt>Admin username:
				<dd><input type=text name=username>
				<dt>Admin password:
				<dd><input type=text name=password>
				<dt>New username:
				<dd><input type=text name=newusername>
				<dt>New password:
				<dd><input type=password name=newpassword>
				<dt>Organizational Group:
				<dd><input type=text name=group>
				<dd><input type=submit value='Create Login'>
			</dl>
		</form>
	</div>
	</div>
</div>
{% endblock %}
