{% extends "layout.html" %}

{% block data %}
<audio autoplay loop src="/static/sound/require_interaction.mp3" class="alertAudio"></audio>
<div class="container">
    <h1>Please verify the information below.</h1>
    <form action="/register" method="post">

        <div class="form-group form-group-lg row">
            <label for="sid" class="col-sm-2 col-form-label col-form-label-lg">Card Number</label>
            <div class="input-group col-sm-10">
                <input class="form-control input-lg col-sm-10" type="tel" value="{{ card_id }}" id="card_id" readonly name="card_id" />
            </div>
        </div>

        <div class="form-group form-group-lg row">
            <label for="sid" class="col-sm-2 col-form-label col-form-label-lg">Student ID</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon">A</div>
                <input class="form-control input-lg keyboard" type="tel" value="{{ sid }}" id="sid" name="sid" />
            </div>
        </div>

        <div class="form-group form-group-lg row">
            <label for="sid" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
            <div class="input-group col-sm-10">
                <input class="form-control input-lg keyboard col-sm-10" type="text" value="{{ name }}" id="name" name="name" />
            </div>
        </div>

    <!--<div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{ email }}" readonly required>
        <div class="input-group-append">
            <select id="emailSuffix" onchange="inputEmailSuffix()" name="emailSuffix">
            <option value="hawk.iit.edu">hawk.iit.edu</option>
            <option value="id.iit.edu">id.iit.edu</option>
            <option value="hawk.iit.edu">iit.edu</option>
            </select>

        </div>
    </div> -->

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-3" id="inlineFormInput" placeholder="username">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
<!--        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">-->
          <div class="input-group-append">
                <select id="email" onchange="inputEmailSuffix()" name="email">
                <option value="hawk.iit.edu" selected="">hawk.iit.edu</option>
                <option value="iit.edu">iit.edu</option>
                <option value="id.iit.edu">id.iit.edu</option>
                <option value="kaplan.iit.edu">kaplan.iit.edu</option>
                <option value="stuart.iit.edu">stuart.iit.edu</option>
                <option value="kentlaw.iit.edu">kentlaw.iit.edu</option>
                </select>
                <!--<span class="input-group-text" id="basic-addon2">TEXT</span> -->
            </div>
      </div>
    </div>

        <div class="form-group">
            <label for="college">College</label>
            <select class="form-control" id="college" onchange="inputCollegeName()" name="college" required>
                <option selected value="">Choose your college...</option>
                {% for each in colleges %}
                    <option value="{{ each.id }}">{{ each.name }}</option>
                {% endfor %}
                <option value="-1">Other not listed.</option>
            </select>
            <input class="form-control" type="text" id="custom-name" name="custom-name" hidden>
        </div>

        <div class="form-group">
            <label>Major</label>
            <select class="form-control" id="major" name="major" onchange="inputMajorName()" required>
                <option selected value="">Choose your major...</option>
                {% for each in majors %}
                <option value="{{ each.id }}">{{ each.name }}</option>
                {% endfor %}
                <option value="-1">Other not listed.</option>
            </select>
            <input class="form-control" type="text" id="custom-major" name="custom-major" hidden>
        </div>

        <div class="form-group form-group-lg row">
            <label for="status" class="col-sm-2 col-form-label col-form-label-lg">Status</label>
            <select class="form-control" id="status" name="status" default="undergraduate" required>
                <option selected value="">Choose your status...</option>
                {% for each in statuses %}
                    <option value="{{ each }}">{{ each }}</option>
                {% endfor %}
            </select>
        </div>

        <br />
        <br />
        <br />
        <br />
        <input class="btn btn-success btn-lg btn-block" type="submit" name="submitButton" onclick=disable() value="Continue"/>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $("#sid").keyboard();
            $("#name").keyboard({initCaps: true});
            $("body").click(function() { stopAudio("alertAudio"); });

            localStorage.debug = 'engine.io-client:socket';

            var socket = io();
            socket.connect();
            socket.on('go', function (data) {
                if (data.hwid === {{ session['hardware_id'] | tojson }}) {
                    window.location.href = data.to;
                }
            });
            socket.on('scan', function (data) {
                if (data.hwid === {{ session['hardware_id'] | tojson }}) {
                    //data.token = {{ session['token'] | tojson }};
                    data.location = {{ session['location_id'] | tojson }};
                    socket.emit('check_in', data)
                }
            });
        });
    </script>
    <script type="text/javascript">
        window.setTimeout(function() {
            window.location.replace("/");
        }, 45000);
    </script>
    <script type="text/javascript">


    function disable(){

        // If fields are empty, disable button. Otherwise, enable

        var inputStatus = document.getElementsByName("status")
        var inputSid = document.getElementsByName("sid")
        var inputName = document.getElementsByName("name")
        var inputEmail = document.getElementsByName("email")


        if (!(inputStatus && inputSid & inputName && inputEmail)){
            $("#submitButton").attr("disabled", true);
            $('#submitButton').addClass('disabled');
        }
        else {
            $("#submitButton").attr("disabled", false);
            $('#submitButton').removeClass('disabled');
        }
        }
        function inputEmailSuffix(){
            var emamil = $('#emailSuffix').val();
            console.log(email)
        }
    </script>

    <script type = "text/javascript">
    const suffixPrefix = ["@hawk.iit.edu","@id.iit.edu","@iit.edu"];
    </script>
    <script type = "text/javascript">
            function inputCollegeName(){
            var selectedMajor = $('#college').val();
            console.log(selectedMajor)
			if(selectedMajor === '-1')  {
			    var cname = document.getElementById('custom-name');
                cname.removeAttribute('hidden')
			}
        }
        function inputMajorName(){
            var selectedCollege = $('#major').val();
            console.log(selectedCollege)
			if(selectedCollege === '-1')  {
			    var cname = document.getElementById('custom-major');
                cname.removeAttribute('hidden')
			}
        }

        $(function () {
            $('#college').change(inputCollegeName)
        });
        $(function () {
            $('#major').change(inputMajorName)
        });

        $(function () {
            $('#sid').change(checkSID)
        });

    </script>

<input type="button" class="btn btn-danger" onclick="disable()" id="myBtn" value="Disable Button" />
{% endblock %}
