{% extends "layout.html" %}

{% block data %}
<audio autoplay loop src="/static/sound/require_interaction.mp3" class="alertAudio"></audio>
<div class="container">
    <h1>Please verify the information below.</h1>
    <form action="/register" method="post">
        <div class="form-group form-group-lg row">
            <label for="sid" class="col-sm-2 col-form-label col-form-label-lg">Card Number</label>
            <div class="input-group col-sm-10">
                <input class="form-control input-lg col-sm-10" type="tel" value="{{ card_id }}" id="card_id" readonly name="card_id" />
            </div>
        </div>

        <div class="form-group form-group-lg row">
            <label for="sid" class="col-sm-2 col-form-label col-form-label-lg">Student ID</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon">A</div>
                <input class="form-control input-lg keyboard" type="tel" value="{{ sid }}" id="sid" name="sid" />
            </div>
        </div>

        <div class="form-group form-group-lg row">
            <label for="sid" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
            <div class="input-group col-sm-10">
                <input class="form-control input-lg keyboard col-sm-10" type="text" value="{{ name }}" id="name" name="name" />
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Continue"/>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $("#sid").keyboard();
            $("#name").keyboard({initCaps: true});
            $("body").click(function() { stopAudio("alertAudio"); });

            localStorage.debug = 'engine.io-client:socket';

            var socket = io();
            socket.connect();
            socket.on('go', function (data) {
                if (data.hwid === {{ session['hardware_id'] | tojson }}) {
                    window.location.href = data.to;
                }
            });
            socket.on('scan', function (data) {
                if (data.hwid === {{ session['hardware_id'] | tojson }}) {
                    //data.token = {{ session['token'] | tojson }};
                    data.location = {{ session['location_id'] | tojson }};
                    socket.emit('check_in', data)
                }
            });
        });
    </script>
    <script type="text/javascript">
        window.setTimeout(function() {
            window.location.replace("/");
        }, 45000);
    </script>
{% endblock %}
