{% extends "layout.html" %}
{% block data %}
<div class="col-md-6" style="margin:auto">
    <div class="circle-success img-circle"><i class="glyphicon {{ msg[1] }}"></i></div>
    <hr />
	<h1 class="text-center">{{ msg[0] }}</h1>
    <h3 class="text-center">{{ request.args.get('name') if 'name' in request.args else '' }}</h3>

    {% if 'checkin' in request.url %}
    <audio autoplay src="/static/sound/check_in.mp3"></audio>
    {% elif 'checkout' in request.url %}
    <audio autoplay src="/static/sound/check_out.mp3"></audio>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
	window.setTimeout(function() {
		window.location.replace("/");
	}, 5000);
    $(function() {
        localStorage.debug = 'engine.io-client:socket';

        var socket = io();
        socket.connect();
        socket.on('go', function (data) {
            if (data.hwid === {{ session['hardware_id'] | tojson }}) {
                window.location.href = data.to;
            }
        });
        socket.on('scan', function (data) {
            if (data.hwid === {{ session['hardware_id'] | tojson }}) {
                //data.token = {{ session['token'] | tojson }};
                data.location = {{ session['location_id'] | tojson }};
                socket.emit('check in', data)
            }
        });
    });
</script>
{% endblock %}
{% block styles %}
{{ super() }}

    <style>
    .circle-success {
        margin: 0 auto;
        width: 256px;
        text-align: center;
        height: 256px;
        font-size: 10em;
        background: mediumseagreen;
        color: white;
        padding-top: 0.35em;
    }
    </style>

{% endblock %}